@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

/* SOME GLOBAL SETTINGS */

:root {
    --light-red: #ff525d;
    --very-light-red: #ff7a85;
    --very-dark-blue: #1f3f5b;
    --white-text: #ffffff;
    --footer-text: #c8c8cb;
    --dark-grayish-blue: #4b5862;
    --footer-background: #25252d;
    --gradient-orange: #ff8870;
    --gradient-red: #ff4658;
    --dark-blue: #3a3d5c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* -----------------------------TOP SECTION-----------------------------------------*/

.topSection {
    background: center / contain no-repeat url('../images/bg-pattern-intro-desktop.svg'),linear-gradient(to right,var(--gradient-orange),var(--gradient-red));
    background-size: 200%;
    display: flex;
    flex-direction: column;
    /* height: auto;    */
    padding: 3em 7em;
    border-radius: 0 0 0 5rem;
}

.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 66px;

}

.nav-brand {
    font-size: 2.7rem;
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    color: var(--white-text);
    font-weight: 500;
}

.links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: 'Overpass', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    /* align-items: baseline; */
}
.standardLinks:hover {
    border-bottom: 2px solid var(--white-text);
}

a {
    color: var(--white-text);
}

.fa-chevron-down {
    font-size: .8rem;
    margin-left: .5em;
    color: var(--white-text);
}

.leftLinks {
    display: flex;
    justify-content: start;
    align-items: baseline;
    width: 140%;
    margin-left: 5%;
}
.leftLinks>li {
    margin: 1.2em;
}

.registrationLinks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    /* margin-left: 15em; */
}
.registrationLinks>li {
    margin: 1.2em;
}

.signUp {

    height: 50px;
    width: 140px;
    padding: .7em 2em;
    border-radius: 2.5rem;
    margin: 0 1em;
    background-color: var(--white-text);
    color: var(--gradient-red);
}

.sloganBox {
    margin: 5em 3em 3em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    color: var(--white-text);
    text-align: center;
}

.sloganBox > h1 {
    font-size: 3.8em;
    font-weight: 500;   
}

.sloganBox > p {
    font-weight: 300;
    font-size: 1.2em;
    margin: 2em 0;
}

.sloganButtons {
    margin-top: 1.5rem;
    display: flex;
    font-weight: 600;
}

.startFreeBtn:hover {
    background-color: transparent;
    border: 1px solid var(--white-text);
    color: var(--white-text);
}

.learnMoreBtn:hover {
    background-color: var(--white-text);
    color: var(--very-light-red);
}
.signUp:hover {
    background-color: var(--gradient-orange);
    color: var(--white-text);
}

.slogBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 140px;
    padding: .7em;
    border-radius: 2.5rem;
    margin: 0 1em;
    background-color: var(--white-text);
    color: var(--gradient-red);
}

.learnMoreBtn {
    background: transparent;
    color: var(--white-text);
    border: 1px solid var(--white-text);
}

@media (max-width: 1170px) {
    .links {
        display: none;
    }
    .nav-brand {
        font-size: 3.5rem;
    }
    .topSection {
        padding: 3em .8em;
    }
    .sloganButtons {
        flex-direction: column;
    }
    .slogBtn {
        margin: .8em;
    }

    .sloganBox {
        padding: 1em;
    }
    .sloganBox > h1 {
        font-size: 2.2em;
    }
}

/* ---------------------MIDDLE SECTION-------------------------- */

.middleSection {
    display: flex;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
}

.mobileSize-laptop {
    display: none;
}

.design {
    display: flex;
    padding: 3em 0em 3em 7em;
}

.designLeft {
    width: 60%;
    padding: 6em 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.designLeft > h1 {
    font-size: 2.9em;
    color: var(--dark-blue);
    margin-left: 110%;
    margin-bottom: 5%;
    width: 100%;
}

.designRight {
    width: 40%;
    overflow: hidden;
}
.designRight > svg {
    position: relative;
    /* left: 10% */
}

.desc {
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.desc > p {
    line-height: 2rem;
    font-weight: 300;
    font-size: 1.1em;
    color: var(--dark-grayish-blue);
}

.desc > h2 {
    margin-bottom: 1.2em;
    font-size: 2em;
    color: var(--dark-blue);
}

@media (max-width: 1485px) {
    .designLeft {
        padding: 3em 5em;
    }
}
@media (max-width: 950px) {
    .designLeft {
        padding: 3em 5em;
    }
}

@media (max-width: 730px) {
    .design {
        flex-direction: column;
        text-align: center;
        padding: 2em;
    }
    .designLeft {
        width: 100%;
        padding: 1.2em;
    }
    .designLeft > h1 {
        margin-left: 0;
        margin-bottom: 2em;
        
    }
    .desc {
        margin-bottom: 2em;
    }
    .designRight {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .editor-desktop {
        display: none;
    }

    .designRight > svg {
        /* transform: scale(1); */
        object-fit: contain;
    }
    .mobileSize-laptop {
        display: block;
    }
}

/* -------------------------STATE OF THE ART-------------------------- */


.stateOfArt {
    display: flex;
    padding: 0 10em;
    background: url('/images/bg-pattern-circles.svg') left bottom / contain no-repeat;
    background-size: 50%;
    background-color: var(--dark-blue);
    height: 460px;
    border-radius: 0 120px;
}

.statePhones {
    position: relative;
    width: auto;
    bottom: 10%;
}

.stateRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 11%;
    color: var(--white-text);
}
.stateRight > h1 {
    font-size: 2.9em;
    margin-bottom: 1em;
}

.stateRight > p {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 2em;
}

@media (max-width: 1463px) {
    .stateRight {
        padding: 5% 4%;
    }

    .stateRight > h1 {
        font-size: 1.8em;
        margin-bottom: 1em;
    } 

    .stateRight > p {
        font-size: .9em;
        margin-bottom: 1em;
    } 

    .statePhones {
        width: 430px
    }
}

@media (max-width: 845px) {

    .stateOfArt {
        flex-direction: column;
        height: auto;
        padding: 6%;
        text-align: center;
        margin-top: 7rem;
        background-size: 150%;
        background: url('/images/bg-pattern-circles.svg')  bottom left / cover no-repeat;
        background-color: var(--dark-blue);
    }
    
    .stateRight > h1 {
        font-size: 2.5em;
        margin-bottom: 1em;
    } 
    .stateRight > p {
        font-size: 1.3em;
        margin-bottom: 1em;
        
    } 
    .statePhones {
        width: 520px;
        position: relative;
        bottom: 80px;
        /* left: -100px; */
    }

    
}


@media (max-width: 547px) {
    .statePhones {
        width: 380px;
        bottom: 50px
    }

    .stateRight > h1 {
        font-size: 2.2em;
        margin-bottom: 1em;
    }  
     .stateRight > p {
        font-size: 1em;
        margin-bottom: 1em;
        
    }  
    
}
@media (max-width: 400px) {

    .statePhones {
        width: 337px;
        bottom: 70px
    }

    .designLeft {
        padding: .1em;
    }

    .mobileSize-laptop {
        width: 300px;
    }

    .designLeft > h1 {
        font-size: 2.4em;
    }
    .topSection {
        background-size: 800%;
    }

    .attribution {
        flex-direction: column;
        text-align: center;
    }

    

}

/* --------------------------ABOUT PRODUCT SECTION------------------------------ */

.aboutProduct {
    display: flex;
    padding: 5em 10em 5em 0;
    margin-top: 3em;
}
.aboutImage {
    position: relative;
    right: 32%;
}

.aboutImageMobile {
    display: none;
}

.aboutLeft {
    width: 45%;
}

.aboutRight {
    width: 55%;
    padding: 7em 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: space-around; */
}
.aboutDesc {
    margin-bottom: 4em;
}

.aboutDesc > h1 {
    font-size: 2.3rem;
    color: var(--dark-blue);
    margin-bottom: .7em;
}
.aboutDesc > p {
    font-size: 1.15rem;
    font-weight: 300;
    color: var(--dark-grayish-blue);
    line-height: 1.7rem;
}

@media (max-width: 1450px) {
    .aboutProduct {
        padding-right: 2em;
        padding-left: 2em;
    }
    .aboutImage {
        width: 700px;
    }
    .aboutRight {
        padding: 3.5em 7em;
    }
}

@media (max-width: 954px) {
    .aboutProduct {
        flex-direction: column;
        align-items: center;
    }
    .aboutImage {
        display: none;
    }

    .aboutImageMobile {
        display: block;
    }
    .aboutRight {
        width: 100%;
        text-align: center;
    }
    .aboutLeft {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 635px) {
    .aboutRight {
        padding: 2em 4em;
    }

    .aboutImageMobile {
        width: 356px;
    }
}

@media (max-width: 400px) {
    .aboutRight {
        padding: 1em 1.5em;
    }
}

/* ------------------------FOOTER------------------------- */

.footer {
    background-color: var(--footer-background);
    border-radius: 0 85px 0 0;
    display: flex;
    justify-content: space-around;
    padding: 4em 22em 5em 9em;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.footerColumn {
    line-height: 2em;
    
}
.footerColumn > h3 {
    line-height: 2em;
    color: var(--white-text);
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.2em;
}

.footerColumn > ul > li {
    font-weight: 300;
    font-size: .95em;
}

.footerColumn > ul > li:hover {
    text-decoration: underline;
}

.attribution {
    color: var(--footer-text);
    position: absolute;
    bottom: 10px;
    display: flex;
}

.underlined {
    text-decoration: underline;
}

@media (max-width: 995px) {
    .footer {
        padding: 4em 11em 4em 9em;
    }
}

@media (max-width: 710px) {
    .footer {
        flex-direction: column;
    }
    .footerBrand {
        display: flex;
        justify-content: center;
        margin-bottom: 5em;
    }
    .footerColumn {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.4em;
        
    }

    .footerColumn > h3 {
        font-size: 1.2em;
    }
    .footerColumn > ul > li {
        font-size: 1em;
    }

    .attribution {
        left: 15%;
    }
}

@media (max-width: 400px) {
    .attribution{
        left: 29%;
        
    }
}